# Telegram Bot Token (@BotFather dan olinadi)
BOT_TOKEN=YOUR_BOT_TOKEN_HERE

# Bosh Adminlar Telegram ID raqamlari (vergul bilan)
ADMINS=475334833

# SQLite baza fayli
DB_NAME=omborxona.db

# Web Dashboard sozlamalari
WEB_HOST=0.0.0.0
WEB_PORT=8080
WEB_APP_URL=http://localhost:8080
